{{ define "content" }}
<ol class="breadcrumb">
  <li class="active">Instances</li>
</ol>
<h3>Available Instances</h3>
{{ if .Instances }}
<table class="table table-striped" id="instances">
  <thead>
    <tr>
      <th>Instance ID</th>
      <th>Name</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {{ range $i, $instance := .Instances }}
      {{ if (ne $instance.State.Name "terminated") }}
      <tr>
        <td>
          <a href="/instance/{{ $instance.InstanceId }}">
            {{ $instance.InstanceId }}
          </a>
        </td>
        <td>
          {{ range $j, $tag := $instance.Tags }}
              {{ if eq $tag.Key "Name" }}
                  {{ $tag.Value }}
              {{ end }}
          {{ end }}
        </td>
        <td>{{ $instance.State.Name }}</td>
      </tr>
      {{ end }}
    {{ end }}
  </tbody>
  <div id="loader" class="container hide" style="margin:0 auto;width:155px">
    <img src="/img/loader.gif">
  </div>
</table>
{{ else }}
<p>No instances in this region!</p>
{{ end }}

{{ end }}

{{ define "title" }}Home{{ end }}
{{ define "headscripts" }}{{ end }}

{{ define "footerscripts" }}
{{ end }}
