{{ define "content" }}
<h2>EC2 Resize</h2>
<form>
    <div class="form-group">
        <label for="accessKeyID">Access Key ID</label>
        <input type="text" class="form-control" id="accessKeyID" placeholder="AKIAIOSFODNN7EXAMPLE">
    </div>
    <div class="form-group">
        <label for="secretKey">Secret Key</label>
        <input type="password" class="form-control" id="secretKey" placeholder="wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{{ end }}

{{ define "title" }}Home{{ end }}
{{ define "headscripts" }}{{ end }}
{{ define "footerscripts" }}{{ end }}
