{{ define "content" }}
<ol class="breadcrumb">
  <li><a href="/">Instances</a></li>
  <li class="active">{{ .Instance.InstanceId }}</li>
</ol>

<h3>Instance {{ .Instance.InstanceId }}</h3>

<h4>Elastic IP</h4>
{{ if .Address }}
{{ .Address.PublicIp }}
{{ else }}
<p>No Elastic IP associated with this instance.</p>
{{ end }}

<h4>State</h4>
<p>{{ .Instance.State.Name }}</p>

<form method="POST" action="/instance/{{ .Instance.InstanceId }}/resize?status={{ .Instance.State.Name }}" id="resize">
    <h5>Change Instance Type (currently {{ .Instance.InstanceType }})</h5>
    <select name="new-type" class="form-control" style="width:20%;margin-bottom:20px">
        {{ range .InstanceTypes }}
        <option value="{{ .Name }}">
            {{ .Name }}
        </option>
        {{ end }}
    </select>
<button type="submit" class="btn btn-primary">Begin Resize</button>
</form>

<h4>Further Details</h4>
<table class="table table-striped">
<tbody>
<tr><td>Instance Id</td><td>{{ .Instance.InstanceId }}</td></tr>
<tr><td>Image Id</td><td>{{ .Instance.ImageId }}</td></tr>
<tr><td>Private DNSName</td><td>{{ .Instance.PrivateDNSName }}</td></tr>
<tr><td>DNSName</td><td>{{ .Instance.DNSName }}</td></tr>
<tr><td>Key Name</td><td>{{ .Instance.KeyName }}</td></tr>
<tr><td>Hypervisor</td><td>{{ .Instance.Hypervisor }}</td></tr>
<tr><td>Virt Type</td><td>{{ .Instance.VirtType }}</td></tr>
<tr><td>Monitoring</td><td>{{ .Instance.Monitoring }}</td></tr>
<tr><td>Avail Zone</td><td>{{ .Instance.AvailZone }}</td></tr>
<tr><td>Tenancy</td><td>{{ .Instance.Tenancy }}</td></tr>
<tr><td>Placement Group Name</td><td>{{ .Instance.PlacementGroupName }}</td></tr>
<tr><td>Vpc Id</td><td>{{ .Instance.VpcId }}</td></tr>
<tr><td>Subnet Id</td><td>{{ .Instance.SubnetId }}</td></tr>
<tr><td>Iam Instance Profile</td><td>{{ .Instance.IamInstanceProfile }}</td></tr>
<tr><td>Private Ip Address</td><td>{{ .Instance.PrivateIpAddress }}</td></tr>
<tr><td>Public Ip Address</td><td>{{ .Instance.PublicIpAddress }}</td></tr>
<tr><td>Architecture</td><td>{{ .Instance.Architecture }}</td></tr>
<tr><td>Launch Time</td><td>{{ .Instance.LaunchTime }}</td></tr>
<tr><td>Ebs Optimized</td><td>{{ .Instance.EbsOptimized }}</td></tr>
<tr><td>Root Device Name</td><td>{{ .Instance.RootDeviceName }}</td></tr>
</tbody>
</table>
{{ end }}

{{ define "title" }}{{ .Instance.InstanceId }}{{ end }}
{{ define "headscripts" }}{{ end }}

{{ define "footerscripts" }}
{{ end }}
